In [3]:
# Get started
print("Hello, World!")

Hello, World!

In [1]:
# Python version
import sys

print(sys.version)

3.12.6 (tags/v3.12.6:a4a2d2b, Sep  6 2024, 20:11:23) [MSC v.1940 64 bit (AMD64)]

In [7]:
# Indentation
if 5 > 2:
    print("Five is greater than two!")
if 5 > 2:
       print("Five is greater than two!")

Five is greater than two!

In [ ]:
# Variables
x = 5
y = "Hello, World!"

In [ ]:
# Comments
#This is a comment.
print("Hello, World!")
print("Hello, World!") #This is a comment
#print("Hello, World!")
print("Cheers, Mate!")

#This is a comment
#written in
#more than just one line
print("Hello, World!")

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [2]:
# Creating variables
x = 5
y = "John"
print(x)
print(y)

x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

5
John
Sally

In [ ]:
# Type
x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
# Quotes
x = "John"
# is the same as
x = 'John'

In [ ]:
# Case-Sensitive
a = 4
A = "Sally"
#A will not overwrite a

In [ ]:
# Variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
# Incorrect
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
# Different practices
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

In [ ]:
# Many values
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [ ]:
# One to many
x = y = z = "Orange"
print(x)
print(y)
print(z)

In [ ]:
# Unpack a collection
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
# Output variables 
x = "Python is awesome"
print(x)

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

x = 5
y = 10
print(x + y)

x = 5
y = "John"
print(x, y)

In [ ]:
# Incorrect
x = 5
y = "John"
print(x + y)

In [8]:
# Global variables
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome
Python is fantastic
Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
# Global
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
# Numbers
x = 1    # int
y = 2.8  # float
z = 1j   # complex

# Types
print(type(x))
print(type(y))
print(type(z))

In [ ]:
# int
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

In [ ]:
# float
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

In [ ]:
# complex
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

In [ ]:
# Type conversion
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

In [ ]:
# Random
import random

print(random.randrange(1, 10))

In [ ]:
# Casting
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

In [ ]:
# Strings
print("Hello")
print('Hello')
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

a = "Hello"
print(a)

In [3]:
# Multline
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.
Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
# String are arrays
a = "Hello, World!"
print(a[1])

for x in "banana":
  print(x)

In [9]:
# String length
a = "Hello, World!"
print(len(a))

13

In [ ]:
# Check string
txt = "The best things in life are free!"
print("free" in txt)

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [ ]:
# Check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

In [ ]:
# Slicing
b = "Hello, World!"
print(b[2:5])

# From the start
b = "Hello, World!"
print(b[:5])

# To the end
b = "Hello, World!"
print(b[2:])

# Negative indexing
b = "Hello, World!"
print(b[-5:-2])

In [4]:
# Upper case
a = "Hello, World!"
print(a.upper())

# Lowercase
a = "Hello, World!"
print(a.lower())

# Remove whitespace
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

# Replace string
a = "Hello, World!"
print(a.replace("H", "J"))

# Split string
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

In [ ]:
# String concatenation
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

In [ ]:
# Incorrect string format
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
# F-string
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
# Placeholders and modifiers
price = 59
txt = f"The price is {price} dollars"
print(txt)

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

txt = f"The price is {20 * 59} dollars"
print(txt)

In [ ]:
# Incorrect escape character
txt = "We are the so-called "Vikings" from the north."

In [ ]:
# Correct
txt = "We are the so-called \"Vikings\" from the north."